<div class="col">
  <div class="card-group">
    <div class="card shadow mx-auto">
      <img [ngStyle]="{'background-color': step.bgcolor}" class="mb-2 img-fluid" src={{step.img}} alt="Image action">
      <div class="card-body p-4">
        <h5 class="card-title mb-3">{{ step.title }}</h5>
        <p class="card-text">{{ step.description}}</p>

        <div class="row">
          <div class="col btn-group d-flex justify-content-start align-items-center ">
            @for (phrase of phrases; track phrase; let index = $index; let isFirst = $first ) {
              <button 
                (click)="handleClickOnStep($event, index)"
                [ngClass]="isFirst ? 'active' : 'not-active'"
                class="mx-2"
                #stepButton
              >
            </button>
            }
          </div>

          <div class="col d-flex justify-content-end align-items-center">
            <button 
              *ngIf="!isFirstStep()"
              (click)="handleClickOnArrowButton(-1)" 
              class="fa-solid fa-arrow-left mx-1 my-2 arrow"
            >
            </button>
            <button 
              *ngIf="!isLastStep()"
              (click)="handleClickOnArrowButton(+1)" 
              class="fa-solid fa-arrow-right mx-1 my-3 arrow"
            >
            </button>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>