.card {
  border-radius: 2rem;
  width: 50%;
  & .card-img-top{
    background-color: #ffd167;
    border-radius: 2rem 2rem 0 0;
}
  & button {
    height: 2.5rem;
    width: 2.5rem;
    background-color: black;
    color: white;
    padding: 0.5rem 0;
    border-radius: 50%;
    text-align: center;
  }
}

.step {
    height: 1rem;       
    width: 1rem;
    background-color: #cdd2d6;
    border-radius: 50%;
}
